﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>
        Hello MVC
    </div>
    <div class="col-md-4">
        @Html.ActionLink("View and Download PDF", "ViewAndDownload", "Home", new { target = "_blank" })
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("DownloadGeneratePDFFromHtml", "Home")">Download Generated PDF From Html</a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("DownloadPDF", "Home")">Download ViewAsPdf</a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("DownloadActionAsPDF", "Home")">Download ActionAsPdf</a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("DownloadPartialViewPDF", "Home")">Download PartialViewAsPDF</a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("UrlAsPDF", "Home")">Download UrlAsPDF</a>
    </div>
</div>